@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background-color: #1e264d;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Lato", sans-serif;
}
body .page {
  margin: 20px 80px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #1e264d;
  padding: 10px 0px;
}
nav .onglets {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
nav .onglets {
  display: flex;
  flex-wrap: wrap;
  font-family: "Archivo Black", sans-serif;
}
nav .onglets a {
  margin-right: 20px;
  cursor: pointer;
}

nav a {
  display: flexbox;
  justify-content: end;
  color: #bababa;
  text-decoration: none;
  margin-right: 10px;
}
#E {
  color: #f54266;
}

header {
  margin-top: 40px;
  background: url("https://officialpsds.com/imageview/rw/3k/rw3kwk_large.png?1597364510");
  background-repeat: no-repeat;
  background-size: 500px 400px;
  background-position: center;
}
header h1 {
  color: #a8a09a;
  text-align: center;
  font-size: 60px;
  padding: 150px;
  transition: transform 2.5s;
}
button {
  border-radius: 10px;
  color: #828282;
  border-color: #1e264d;
  background-color: #1e264d;
}

footer {
  background-color: #121c53;
  padding: 25px 100px;
  color: #828282;
}
footer .colonnes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  body .page {
    margin: 10px;
  }
  nav .onglets {
    display: none;
  }
  header {
    margin-top: 20px;
    background-size: 250px 250px;
  }
  header h1 {
    font-size: 30px;
    padding: 100px;
  }
}
